%h1 Number Seven
%p
  This is an implementation of my twitch overlay bot using Rails 7.  Mostly a personal-project for
  exploring and learing.

%h2 Goals
%ul
  %li
    Redis as single data store.
    %ul
      %li
        %a{href: 'https://github.com/exegeteio/number-two'}<
          Previous iteration
        used entirely ephemiral data (messages), or data supplied by Twitch authorization.
  %li
    Try out the new
    %a{href: 'https://hotwired.dev/'}<
      Hotwire / Turbo
    implementation in Rails 7.
